# Username and password used by the reolink camers
reolink_username: somename
reolink_password: somepass
# Address of the mqtt broker
mqtt_broker: some.host.or.ip.address
# Username and password used by the mqtt broker
mqtt_username: somename
mqtt_password: somepass
